<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>flask-example hello</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><img src="{{ url_for('static', filename='img/hsma-logo.png') }}" style="width: 32px;"><a class="navbar-brand" href="#">IWS 2021</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Index</a></li>
                    <li class="nav-item"><a class="nav-link" href="/hello/">Hello</a></li>
                    <li class="nav-item"><a class="nav-link" href="/primes/">Primes</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div></div>
    <div class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Hello {{name}}.</h2>
                <p class="text-center">To change your name access following URL with a given name: 
                    <span style="white-space: nowrap;">/hello/<strong>&lt;name&gt;</strong></span></p>
            </div>
            <div class="buttons"></div>
        </div>
        <div class="buttons"><a class="btn btn-primary" role="button" href="/hello/random" style="background: var(--cyan);">Random Name</a></div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>