{% extends "layout/base.html" %}

{% block title %}
    flask-example primes
{% endblock %}

{% block content %}
<div class="intro">
        {% if count %}
            {% if count == "1" %}
        <h2 class="text-center">First prime number:</h2>
            {% else %}
        <h2 class="text-center">First {{count}} prime numbers:</h2>
            {% endif %}
        <p class="text-center">{{primes}}</p>
        {% else  %}
        <h2 class="text-center">Please select a count for prime numbers!</h2>
        {% endif %}
        <p class="text-center">To change the count of prime numbers just access following URL with a given natural number: /primes/<strong>&lt;count&gt;</strong></p>
    </div>
    <div class="buttons">
        <a class="btn btn-primary" role="button" href="/primes/10" style="background: var(--danger);">10</a>
        <a class="btn btn-primary" role="button" href="/primes/50" style="background: var(--danger);">50</a>
        <a class="btn btn-primary" role="button" href="/primes/100" style="background: var(--danger);">100</a>
        <a class="btn btn-primary" role="button" href="/primes/1000" style="background: var(--danger);">1000</a>
    </div>
    <p class="text-center">You can also use a predefined button.</p>
{% endblock %}